*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color: white;
    font-family: 'montserrat';
}
html, body{
    height: 100%;
    width: 100%;
}

#cursor{
    height: 22px;
    width: 22px;
    background-color: #81ad05;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}
#cursor-blur{
    height: 400px;
    width: 400px;
    background-color: #81ad0549;
    border-radius: 50%;
    position: fixed;
    filter: blur(40px);
    z-index: 9;  
}

#cursor-blur-white{
    height: 200px;
    width: 200px;
    background-color: #e1e6d63a;
    border-radius: 50%;
    position: fixed;
    filter: blur(40px);
    z-index: 9;  
}

#nav{
    height: 145px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    position: fixed;
    padding: 0 150px;
    z-index: 99;
}
#nav img{
    height: 72px ;
}
#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position:fixed;
    z-index: -1;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);
}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
    z-index: 10;
}
#page1 h1{
    font-size: 95px;
    font-weight: 900px;
    position: relative;
}

#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position:absolute;
    color:black;
    top: -6px;
    left: -6px;
    -webkit-text-stroke: 1px #81ad05;
    z-index: -1;

}

#page1 h2{
    font-size: 22px;
    font-weight: 800px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#page1 p{ 
    font-size: 20px;
    font-weight: 400;
    width: 50%;
}

#page2{
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 10;
}

#scroller{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}

#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


#scroller h4{
    display: inline-block;
    font-size: 93px;
    font-weight: 900px;
    font-family: Arial, sans-serif;
    margin-right: 10px;
    color: #000;
    -webkit-text-stroke: 1px #c1c4bb;
    transition: all linear 0.4s;
}
#scroller h4:hover{
    color: #81ad05;
    -webkit-text-stroke: 1px #81ad05;
}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);

    }
}

#about-us{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    position: relative;
    z-index: 10;
}

#about-us img{
    height: 180px;
    width: 180px;
    border-radius: 20px;
    object-fit: cover;
}
#about-us-in{
    width: 50%;
    text-align: center;
}

#about-us-in h3{
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 30px;
}
#about-us-in p{
    font-size: 20px;
    line-height: 20px;
    
}